<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
      <h1>Request header microservice</h1>
      <h3>How to use:</h3>
      <p>Visit LINK to get your IP address, language and Operative system</p>
      <h3>Example response:</h3>
      <p>{"ipaddress":"94.100.101.189","language":"en-US","software":"Windows NT 10.0; Win64; x64"}</p>
  </body>
</html>